
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  color: #3C3C3C;
}
.painel {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
h1 {
  color: #183EFF;
  font-size: 1.5em;
  margin-bottom: 20px;
}
